doctype html
html(lang='en')
  head
    meta(name="google-site-verification" content="nzMPyMg8ML3gerPRsLbXYWm76_GaoAfxOtpGean2OOI")
    title YouTube Playlists Recovery
  body
    h1 Hello 
    h4 Welcome to Playlists Recovery. Please take a moment to read our <a href="/privacyPolicy">privacy policy</a> before continuing
    p We will need to require read only access to your Youtube details and use that read only access to only read the titles in your playlist and store it.You will be able to retrieve after that.
    button(onclick="window.location='/';") Continue