doctype html
html(lang='en')
  head
    meta(name="google-site-verification" content="nzMPyMg8ML3gerPRsLbXYWm76_GaoAfxOtpGean2OOI")
    title YouTube Playlists Recovery
  body
    h1 Hello 
    h4 Welcome to Playlists Recovery. Please take a moment to read our <a href="/privacyPolicy">privacy policy</a> before continuing
    p <b>What permissions do we need from you?</b>
    p We will need to require read only access to your Youtube details. We will use that read only access back up the title of videos in your playlist.<br>
      | Other than that, we will allow you to choose which playlist you wish to backup. Thus, we will need access to the videos which you have added to 
      | your playlists as well as your playlists itself. We will also need read only access to the email associated with your google account. 
    p <b> How does this add value?</b>
    p Well, let us imagine an imaginary scenario. You are a family man who loves taking videos, when your 5 year old son first rode the bike himself, when your 
      | 9 year old daughter sang in the school recital, their first day at school, their graudations and more. You get the idea.<br>
      | You have this all stored in one big hard disk and its just a pile of videos. You use YouTube to organise them into playlists, you share them 
      | with far-flung relatives, almost like a movie night to reminisce about the past. <br>
      | But one day, as you're clearing up your uploads to YouTube, you accidentally delete a video. It disappears from the playlist, you don't know what you
      | actually deleted. When you go through your playlist again, you would be stuck pondering what was that one video from here that is no longer here.<br>
      | But with Playlists Recovery, all you would need to do is to click on the "View Missing Videos" button to find what you deleted.
    p <b>What will we do with your data?</b>
    p We will back up the titles of the videos in your playlists as well as from which playlist it came from. We will also make use of the email associated with
      |  your google account to send you a email in the event that a video has gone missing.
    button(onclick="window.location='/';") Continue